body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

nav a {
    color: #2c3e50;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #e6e6fa;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
}
.content {
    display: flex;
    flex-direction: column;
    background-image: url(flower.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    text-align: left;
    color: white;
}
.header{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
    text-align: left;
}

.name{
    width: 100%;
}

.details {
    text-align: left;
}

.details p {
    font-size: 1.1em;
    line-height: 1.6;
}

.certificates{
    height: 250px;
    width: 250px;
    margin: 10px;
}
.certificates:hover{
    transform: scale(1.1);
    animation: shake 0.5s;
    transition: transform 0.1s;
    box-shadow: 0 0 35px rgba(155, 220, 208, 0.916); 
}

@keyframes shake {
    0% { transform: scale(1.025) translateX(0); }
    25% { transform: scale(1.05) translateX(-5px); }
    50% { transform: scale(1.075) translateX(5px); }
    75% { transform: scale(1.090) translateX(-5px); }
    100% { transform: scale(1.1) translateX(0); }
}

.postmanBox{
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.5s, background-color 0.5s, box-shodow 0.5s;
}

.postmanBox:hover{
    animation: spin 0.1s linear 10;
    background-color: rgba(255, 182, 193, 0.5); 
    box-shadow: 0 0 15px rgba(255, 182, 193, 0.5);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 50%;
    text-align: left;
}
.form-container label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}
.form-container .radio-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.form-container .radio-group input[type="radio"] {
    width: auto;
    margin-right: 5px;
}
.form-container .radio-group label {
    margin-right: 20px;
}
.form-container input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.form-container input[type="submit"]:hover {
    background-color: #1a252f;
}